/* Custom color theme properties */
:root {
  --f7-theme-color: #0b4584;
  --f7-theme-color-rgb: 11, 69, 132;
  --f7-theme-color-shade: #08315e;
  --f7-theme-color-tint: #0e59aa;
}

/* Your app custom styles here */