/* Custom color theme properties */
:root {
  --f7-theme-color: #126924;
  --f7-theme-color-rgb: 18, 105, 36;
  --f7-theme-color-shade: #0c4618;
  --f7-theme-color-tint: #188c30;
}

/* Your app custom styles here */